<!DOCTYPE html>
<html lang="en">
	<head>
		<title>MeeteinPulseInterview</title>
		<meta charset="UTF-8">
		<meta name=description content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap CSS -->
		<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
        <link rel="stylesheet" href="assets/vendor/css/bootstrap.css"/>
        <link rel="stylesheet" href="assets/css/main.css"/>
        <script src="assets/vendor/js/firebase.js"></script>
        <script src="assets/js/auth.js"></script>
	</head>
	<body id="scoreboardapp">
        <div class="container" class="play">
            <div class="row top-margin">
                <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                    <div class="navbar navbar-default">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="player.html">Play</a>
                            </li>
                            <li>
                                <a href="scoreboard.html">Scoreboard</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            <li>
                                <a href="#" id="logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row top-margin">
                <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <button type="button" id="playthegame" class="btn btn-default btn-success btn-lg">SCORE!</button>
                </div>
            </div>
            <div class="row top-margin">
                <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <span class="score alert alert-info"></span>
                </div>
            </div>
		</div>

		<!-- jQuery -->
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
		<!-- Bootstrap JavaScript -->
		<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
        <script src="assets/vendor/js/jquery.js"></script>
        <script src="assets/vendor/js/underscore.js"></script>
        <script src="assets/vendor/js/backbone.js"></script>
        <script src="assets/vendor/js/backbonefire.js"></script>

        <script type="text/template" id="tmpl-score">
            <% if (earned) { %>
            You erned <%= earned %> <%= earned == 1 ? 'point' : 'points' %>.
            <% } %>
            Current score is <%= current_score %> <%= current_score == 1 ? 'point' : 'points' %>.
        </script>

        <script src="assets/js/models/score.js"></script>
        <script src="assets/js/views/playview.js"></script>
        <script src="assets/js/funcs.js"></script>

        <script>
            $(function () {
                var App = new PlayView;
            });
        </script>

    </body>
</html>