<!DOCTYPE html>
<html lang="en">
<head>
    <title>MeeteinPulseInterview</title>
    <meta charset="UTF-8">
    <meta name=description content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
    <link rel="stylesheet" href="assets/vendor/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <script src="assets/vendor/js/firebase.js"></script>
    <script src="assets/js/auth.js"></script>
</head>
<body id="scoreboardapp">
<div class="container" class="play">
    <div class="row top-margin">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="player.html">Play</a>
                    </li>
                    <li class="active">
                        <a href="scoreboard.html">Scoreboard</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="#" id="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <h1>Scoreboard</h1>
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody id="scoreboards"></tbody>
            </table>
        </div>
    </div>
</div>

<!-- jQuery -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!-- Bootstrap JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<script src="assets/vendor/js/jquery.js"></script>
<script src="assets/vendor/js/jquery.color.min.js"></script>
<script src="assets/vendor/js/underscore.js"></script>
<script src="assets/vendor/js/backbone.js"></script>
<script src="assets/vendor/js/backbonefire.js"></script>

<script type="text/template" id="tmpl-scoreboard">
    <td><%= email %></td>
    <td><%= score %></td>
</script>

<script src="assets/js/models/score.js"></script>
<script src="assets/js/collections/scoreboard.js"></script>
<script src="assets/js/views/scoreview.js"></script>
<script src="assets/js/funcs.js"></script>

<script>
    $(function () {
        var ScoresList = new ScoreBoard;

        var ScoreBoardApp = Backbone.View.extend({
            el: $('#scoreboardapp'),
            scoreViews: [],
            initialize: function () {
//                this.listenTo(ScoresList, 'sync', this.render);
                ScoresList.once('sync', _.bind(function () {
                    this.render();

                    this.listenTo(ScoresList, 'add', _.debounce(_.bind(this.scoreAdded, this), 250));
                    this.listenTo(ScoresList, 'remove', _.debounce(_.bind(this.scoreRemoved, this), 250));
                    this.listenTo(ScoresList, 'change', _.debounce(_.bind(this.scoreChanged, this), 250));
                }, this));

                ScoresList.fetch();
            },
            render: function () {
                // re-render to keep sorting (too many times!!) - removed^ now only once
                this.$('#scoreboards').empty();
                ScoresList.sort();
                ScoresList.each(function (score) {
                    var view = new ScoresView({model: score});
                    this.scoreViews.push(view);
                    this.$('#scoreboards').append(view.render().el);
                }, this);
            },
            scoreAdded: function (m) {
                window.console && console.log('data added', m);

                this.scoreViews.push(new ScoresView({model: m}));
//                this.$('#scoreboards').append(view.render().el);
//                this.render();
                // re-render
                this.resort();
            },
            scoreRemoved: function (m) { // does not work proper way
                window.console && console.log('data removed', m);

//                ScoresList.sort();
//                var view = new ScoresView({model: m});
//                this.$('#scoreboards').append(view.render().el);
//                this.render();
                // re-render
                this.resort();
            },
            scoreChanged: function (m) {
                window.console && console.log('data changed', m);

//                ScoresList.sort();
//                var view = new ScoresView({model: m});
//                this.$('#scoreboards').append(view.render().el);
//                this.render();
                // re-render
                this.resort();
            },
            resort: function () {
                ScoresList.sort();
                this.scoreViews = _.sortBy(this.scoreViews, function (view) {
                    return view.score * -1;
                });
                this.$('#scoreboards').empty();
                _.each(this.scoreViews, function (view) {
                    this.$('#scoreboards').append(view.el);
                }, this);
            }
        });
        var app = new ScoreBoardApp;
    });
</script>

</body>
</html>